{% extends 'layout.html' %}

{% block title %}Documentación - Simplify Biz{% endblock %}

{% block content %}
    <!-- Sección de Documentación que ofrece recursos útiles sobre el uso de Simplify Biz -->
    <section id="Document">
        <!-- Título de la sección -->
        <h2>Documentación</h2>
        
        <!-- Descripción general de lo que el usuario encontrará en la documentación -->
        <p>
            Encuentra toda la documentación necesaria para aprender a utilizar <strong>Simplify Biz</strong>.
            <br>Aquí encontrarás <em>guías detalladas</em>, <em>preguntas frecuentes</em> y los <em>términos y
                condiciones</em> del servicio.
        </p>
        
        <!-- Lista de recursos documentales disponibles -->
        <ul>
            <!-- Enlace a la Guía de Usuario en PDF -->
            <li>
                <a href="{{ url_for('static', filename='docs/Guia de uso Simplify Biz.pdf') }}" target="_blank">
                    <!-- Icono de libro para representar la guía de usuario -->
                    <i class="fas fa-book"></i> Guía de usuario
                </a>
                <p>Aprende paso a paso cómo utilizar todas las funciones de Simplify Biz.</p>
            </li>
            
            <!-- Enlace a la Documentación General en PDF -->
            <li>
                <a href="{{ url_for('static', filename='docs/Documentacion Simplify Biz.pdf') }}" target="_blank">
                    <!-- Icono de pregunta para representar las preguntas frecuentes -->
                    <i class="fas fa-question-circle"></i> Documentación
                </a>
                <p>Respuestas a las dudas más comunes sobre el uso de la plataforma.</p>
            </li>
            
            <!-- Enlace a los Términos y Condiciones en PDF -->
            <li>
                <a href="{{ url_for('static', filename='docs/terminos_condiciones.pdf') }}" target="_blank">
                    <!-- Icono de contrato para representar los términos y condiciones -->
                    <i class="fas fa-file-contract"></i> Términos y condiciones
                </a>
                <p>Consulta las normas y políticas de uso de Simplify Biz.</p>
            </li>
        </ul>
    </section>
{% endblock %}
